tr{
    text-align: left;
}

body{
    text-align: center; 
    margin: 0;
}

form{
    display: inline-block;
}

.pInfoCarro{
    padding-left: 10px;
    padding-right: 10px;
}

.imgMarca{
    margin-right: 30;
}

.theHeader{
    background: black;
    color: white;
    width: 100%;
    height: 12%;
}

.imagenHeader{
    width: 20%;
    height: 10%;
}

.containerDos{
    justify-content: left;
    height: 100%;
    margin-top: 3%;
}

.tituloCarro{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 35pt;
    text-align: left;
    line-height: 1.1;
}

.subtituloCarro{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 25spt;
    text-align: left;
}


.boton{
    margin-top: 50px;
    background: linear-gradient(0deg, #162579, #0088f0);
    color: white;
    border: none;
    padding: 7px 60px;
    text-align: center;
    font-size: 9pt;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 5%;
}

.boton:hover{
    background: linear-gradient(90deg, #162579, #0088f0); 
}