.tituloCarro{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 20pt;
    text-align: left;
    line-height: 1.1;
}

.subtituloCarro{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    text-align: left;
}

#botones{
    text-align: right;
}

button{
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
}
