.tituloCarro{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 20pt;
    text-align: center;
    line-height: 1.1;
}

.subtituloCarro{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    text-align: center;
}

#botones{
    text-align: right;
}

button{
    transition-duration: 500ms;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    background: white;
}

button:hover{
    transition-duration: 500ms;
    background: rgb(197, 197, 197);
}
