tr{
    text-align: left;
}

body{
    text-align: center;
    margin: 0; 
}

form{
    display: inline-block;
}

.theHeader{
    background: black;
    color: white;
    width: 100%;
    height: 12%;
}

.imagenHeader{
    width: 20%;
    height: 10%;
}

.bodyConImagen{
    background-image: url('../Imagenes/fondoGradiente.png');
}

.cuadroBlanco{
    background-color: white;
    justify-content: center;
    align-content: center;
    width: 70%;
    height: 79%;
    border-radius: 10px;
    margin-left: 15%;
    margin-top: 2%;
}

.subtitulo{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 11pt;
}

.campos{
    padding: 3px;
    font-size: 9pt;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
}

.boton{
    background: linear-gradient(0deg, #162579, #0088f0);
    color: white;
    border: none;
    padding: 5px 60px;
    text-align: center;
    font-size: 9pt;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 1.5%;
    width: 250px;
}

.boton:hover{
    background: linear-gradient(90deg, #162579, #0088f0); 
}